body {
  margin: 0;
  background: #0a0a0b;
}

.container {
  padding: 80px 0;
}

h1, h2, h3 {
  font-family: "Prata", serif;
  color: #c2c2c2;
}

p {
  font-family: "Inter", sans-serif;
  color: #999999;
}

a {
  text-decoration: none;
}

.button {
  max-width: 170px;
  max-height: 55px;
  background-color: #fbe850;
  padding: 20px 30px;
  text-align: left;
  color: #000000;
  font-family: "Prata", serif;
}

.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0a0a0b;
  padding: 80px 140px;
}

.navigation__container div {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.navigation__title {
  margin: 0;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__menu div {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.navigation__hamburger {
  display: none;
}

.navigation__links {
  font-family: "Inter", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__links li {
  display: inline;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.navigation__links a {
  color: #999999;
}

.navigation__button {
  text-align: end;
}

.header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header div:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.header div:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__container {
  padding: 40px 140px;
}

.header__title {
  font-size: 50px;
  font-weight: 200;
  margin: 0;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logos__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-height: 20px;
  width: 100%;
  padding: 40px 140px;
}

.logos__container img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.platforms__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  padding: 40px 140px;
}

.platform {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.platform img {
  max-width: 100%;
}

.about__container {
  background: #2e3038;
  padding: 40px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.about__container div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about__title {
  font-size: 34px;
  margin: 0;
}

.work__container {
  background: #0a0a0b;
  padding: 40px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.work__container div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.work__container div:first-child {
  margin-bottom: 30px;
}

.work__container h2 {
  font-size: 34px;
  margin: 0;
}

.work__container p {
  margin-bottom: 50px;
}

.footer__container {
  background: #2e3038;
  padding: 20px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icons li {
  list-style-type: none;
  display: inline;
  margin-left: 5px;
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 40px 0;
  }
  .navigation__container {
    padding: 40px 40px;
  }
  .navigation__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .navigation__menu div:first-child {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .navigation__menu div:nth-child(2) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .navigation__menu div:last-child {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .navigation__hamburger {
    display: -ms-grid;
    display: grid;
    background-color: transparent;
  }
  .hamburger__bars {
    width: 35px;
    height: 2px;
    background-color: #c2c2c2;
    -webkit-transition: -webkit-transform 220ms ease-in-out;
    transition: -webkit-transform 220ms ease-in-out;
    transition: transform 220ms ease-in-out;
    transition: transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
    position: absolute;
    top: 55px;
    cursor: pointer;
  }
  .hamburger__bars::before, .hamburger__bars::after {
    display: block;
    content: '';
    width: 35px;
    height: 2px;
    background-color: #c2c2c2;
    position: absolute;
  }
  .hamburger__bars::before {
    top: -12px;
  }
  .hamburger__bars::after {
    bottom: -12px;
  }
  .navigation__links {
    display: -ms-grid;
    display: grid;
    text-align: right;
  }
  .navigation__links li {
    padding-bottom: 5px;
  }
  .header {
    display: block;
  }
  .header__container {
    padding: 40px 40px;
  }
  .logos__container {
    padding: 40px 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    justify-items: center;
  }
  .platforms__container {
    display: block;
    padding: 40px 40px;
  }
  .platforms__container div:first-child {
    margin-bottom: 30px;
  }
  .about__container {
    display: block;
    padding: 40px 40px;
  }
  .work__container {
    display: block;
    padding: 40px 40px;
  }
  .footer__container {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 767px) {
  __container {
    padding: 40px 20px;
  }
  .footer__container {
    padding: 10px 20px;
  }
  .logos__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    margin-bottom: 80px;
  }
}
/*# sourceMappingURL=style.css.map */