// Variables

$font-header: 'Prata', serif;
$font-body: 'Inter', sans-serif;

$color-header: #c2c2c2;
$color-paragraph: #999999;
$color-section-prm: #0a0a0b;
$color-section-scd: #2e3038;
$color-btn: #fbe850;
$color-btn-text: #000000;

// Global

body {
  padding: 40px 80px;
  background: $color-section-prm;
}

.container {
  margin: 40px 0;
}

a {
  text-decoration: none;
}

.button {
  max-width: 170px;
  max-height: 55px;
  background-color: $color-btn;
  padding: 20px 30px;
  text-align: left;
  color: $color-btn-text;
  font-family: $font-header;
}

// Navigation

.navigation__container {
  display: flex;
  background: $color-section-prm;

  div {
    flex: auto;
  }
}

.navigation__logo {
  font-family: $font-header;
  color: $color-header;
}

.navigation__title{
  margin: 0;
}

.navigation__links {
  font-family: $font-body;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

    li {
      display: inline;
      flex: auto;
    }

    a {
      color: $color-paragraph;
    }
}

.navigation__button {
  text-align: end;
}


// Header

.header {
  display: inline-flex;

  div:first-child { flex: 2 }
  div:last-child { flex: 1 }

}

.header__title {
  font-family: $font-header;
  color: $color-header;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
}

.header__subtitle {
  font-family: $font-body;
  color: $color-paragraph;
}